
SetEnv APPLICATION_ENV development

<IfModule mod_rewrite.c>
	Options +FollowSymlinks -MultiViews
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -d [OR]
	RewriteCond %{REQUEST_FILENAME} -l
	RewriteRule ^.*$ - [NC,L]
	RewriteRule ^.*$ index.php [NC,L]
</IfModule>